.header{
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 1.5% 0;
    font-size: 2em;
    color: white;
    box-shadow: 0px 0px 20px rgb(81, 167, 95);

    background-color: rgb(251, 253, 251);
    color: rgb(65, 158, 81);
    box-shadow: 0px 0px 20px rgba(131, 131, 131, 0.15);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 4% auto;
    border-radius: 8px 8px 0 0;
    overflow:hidden;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.15);
  }
  th{
    color: white;
  }
  th{
    background-color: rgb(65, 158, 81);
  }
  
  td, th {
    text-align: center;
    padding: 12px 15px;
    font-size: 1.2em;
  }
  tr{
    border-bottom: 1px solid #dddddd;
    color: black
  }
  
  tr:nth-child(odd) {
    background-color: #f7fff6;
    /* #f7fff6 */
  }
  tr:last-of-type{
    border-bottom: 2px solid rgb(11, 148, 34);
  }

.demo_btn{
    width: 130px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: rgb(13, 163, 38);
    font-size: 18px;
    border: 1px solid rgb(13, 163, 38);
    background-color: white;
    transition: 0.2s;
    /* background-color:  rgb(13, 163, 38); */
}
.demo_btn:hover{
  background-color:  rgb(247, 255, 248);
  box-shadow: 0 0 20px rgb(220, 240, 224);
}
.code_btn{
    width: 130px;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(153, 1, 153);
    padding: 10px;
    cursor: pointer;
    color: rgb(153, 1, 153);
    font-size: 18px;
    background-color:  white;
    transition: 0.2s;
}
.code_btn:hover{
  background-color: rgb(255, 234, 255);
  box-shadow: 0 0 20px rgb(248, 221, 248);
}